/* Boutons pour les jeux */
.game-button {
  background-color: #00ffff;
  color: #fff;
  border: 2px solid #00ffff;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  margin: 10px;
}

.game-button:hover {
  background-color: transparent;
  color: #00ffff;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.8);
}
