.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 8rem;
    /* background-color: red; */
    background-color: transparent;
    padding: 2rem 6rem;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    font-family: var(--ff-family-main);

}

.navbar a {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    /* color: var(--color-primary); */
    /* transition: color 0.3s ease; */
}

.elements-nav {
    display: flex;
    gap: 2rem;
}

.link-element-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.language {
    display: flex;
    gap: 0.5rem; 
}