.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 8rem;
    /* background-color: red; */
    /* background-color: #fff; */
    background-color: #000;
    padding: 2rem 6rem;
    /* position: fixed; */
    position: sticky;
    top: 0;
    /* display: none; */
    top: 0;
    z-index: 100;
    width: 100%;
    font-family: var(--ff-family-main);
    color: #fff;
}


.navbar a {
    text-decoration: none;
    /* color: #000; */
    color: #fff;
    font-size: 2rem;
}

.navbar a:hover {
    text-decoration: underline;
    /* color: var(--color-primary); */
    color: #f1f1f1;
    transition: color 0.3s ease;
}

.elements-nav {
    display: flex;
    gap: 2rem;
}

.language {
    display: flex;
    /* gap: 0.5rem; */
}